<a href="https://colab.research.google.com/github/rohanmahaveer/Application_of_Python_Programming_in_DA_and_ML/blob/master/day_1_session_2_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Program to find the factorial of a number using loop.**

In [3]:
n=int(input("Enter number:"))
fact=1

while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:5
Factorial of the number is:
120

**Python Program to reverse a number using loop**

In [4]:
r=0
n=int(input("Enter a number: "))
while(n>0):
    dig=n%10
    r=r*10+dig
    n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 12222223
The reversed no  is:
32222221

**Write a Python program to construct the following pattern, using a nested for loop.**

In [5]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**Python Program to replace all occurrences of ‘a’ with ‘$’ in a string.**

In [6]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:Aerospace
Modified string:
$erosp$ce

**Program to remove the nth index character from a non-empty string.**

In [7]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:hello everyone
Enter the index of the character to remove:5
Modified string:
helloeveryone

**1 Write a program to print the triangle**

In [8]:
rows = 4
for i in range(0, rows+1):
    for j in range(i, i+i , 1):
        print(j, end=' ')
    print()

1
2 3
3 4 5
4 5 6 7

**2 Enter number 4**

In [9]:
rows = 4
for i in range(0, rows+1):
    for j in range(i, i+i , 1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *

**3 Enter number 5**

In [10]:
rows = 5
for i in range(0, rows):
    for j in range(rows-i , rows+1 , 1):
        print(j, end=' ')
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

**4  Enter number 5**

In [11]:
rows = 5
for i in range(0, rows+1):
    for j in range(rows-i, 0 , -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

**5 Enter number 4**

In [12]:
rows = 4
for i in range(1, rows+1):
    for j in range(i, rows+1 , 1):
        print(j, end=' ')
    print()
for i in range(1,rows):
  for j in range(rows-i,rows+1,1):
    print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

**6 Find the length of a string without using len functions**

In [13]:
string=str(input("Enter string:"))
count=0
for i in string:
      count=count+1
print("Length of the string is:")
print(count)

Enter string:hello
Length of the string is:
5

**7 Find the no of words and characters in a string**

In [16]:
def count(s):
  c=0
  a=s.split()
  v=len(a)
  for i in a:
    c=c+len(i)
  print("word count=",v)
  print("char count=",c)
s=str(input("enter the string:"))
count(s)

enter the string:hello everyone how are you
word count= 5
char count= 22

**8 Find the no of occurrences of a word in a string**

In [18]:
def countOccurences(str, word): 
    a = str.split(" ")  
    count = 0
    for i in range(0, len(a)):   
        if (word == a[i]): 
           count = count + 1
    return count        
string =str(input("enter the string"))
word =str(input("enter the word"))
print(countOccurences(string, word))

enter the stringhello
enter the wordl
0